/* Top of Website */

.title {
    text-align: center;
}

nav {
    text-align: center;
    padding: 50px;
}

/* Skills Section */

.skill {
    width: 50px;
    height: auto;
}

.fig {
    text-align: center;
}

img {
    height: 150px;
    width: auto;
}


/* About Me Section */

#about-me {
    padding: 150px;
    background: grey;
    height: 100vh;
}


.portrait {
    width: 15vw;
    height: auto;
}

/* Experience Section */

#experience {
    background: grey;
    color: white;
    font-size: 20px;
}

/* glider */
.cImg {
    height: 22vw;
    width: 33vw;
    margin-top: 5%;
    padding: 5%;
    border:1px solid black;
}

/* General */
.col-9 {
    padding-top: 100px;
}

.main {
    font-size: 50px;
    color: white;
}

section {
    padding: 50px;
}

/* Footer */

footer {
    text-align: center;
    
}
